
@import "~font-awesome/css/font-awesome.css";

.p-tooltip {
  div:nth-child(2) {
  position:absolute;
  z-index:1;
  padding:4px;
  background: rgb(43, 38, 38) ;
  color: white ;
  opacity:80%;
  }
}

:host ::ng-deep .custom-toast .ui-toast-message {
  display: flex;
  width: 500px; // whatever width you need
}