<form [formGroup]="requiredForm">
  <div class="input">
    <div class="input-upload">
      <p-fileUpload [auto]="true" (onSelect)="uploadFile($event)" (onRemove)="deleteFile($event)"
                    [multiple]="true" chooseLabel="Wybierz pliki" [fileLimit]="fileAmountLimit"></p-fileUpload>
    </div>
    <div class="input-data">
      <label>Marka</label>
      <input type="text" name="brand" formControlName="brand" [(ngModel)]="item.brand"/>
    </div>
    <div class="input-data">
      <label>Model</label>
      <input type="text" name="model" formControlName="model" [(ngModel)]="item.model"/>
    </div>
    <div class="input-data">
      <label>Kategoria</label>
      <p-dropdown [options]="categories" placeholder="Wybierz kategorię" optionLabel="name"
                  appendTo="body" formControlName="selectedCategory" [(ngModel)]="selectedCategory">
      </p-dropdown>
    </div>
    <div class="input-data">
      <label>Cena</label>
      <input type="number" name="price" placeholder="zł" formControlName="price" min="1" [(ngModel)]="item.price"/>
    </div>
    <div class="input-data">
      <label>Ilość</label>
      <input type="number" name="amount" placeholder="szt" formControlName="amountAvailable" min="1" max="1000"
             [(ngModel)]="item.amountAvailable"/>
    </div>
    <div class="input-data">
      <label>Opis</label>
      <textarea type="text" name="description" formControlName="description" [(ngModel)]="item.description"
                style="min-height: 100px">
      </textarea>
    </div>
  </div>
  <div class="submit">
    <button (click)="addProductConfirm()" class="cart-btn"
            [disabled]="requiredForm.status === 'INVALID' || photos.length === 0 || photos.length > fileAmountLimit">
      Wystaw Przedmiot
    </button>
  </div>
</form>

<p-confirmDialog acceptLabel="Tak" rejectLabel="Nie" key="sell" icon="pi pi-exclamation-triangle">
</p-confirmDialog>

<p-confirmDialog acceptLabel="Tak" rejectLabel="Nie" key="seller" icon="pi pi-exclamation-triangle">
</p-confirmDialog>
