<div *ngFor="let order of orders" class="item-wrapper">
  <div class="item_row">
    <div class="first-column">
      <img [src]="getItemMainPhoto(order)">
    </div>
    <div class="second-column">
      <h6 class="product-title">
        {{order.itemBrand}} {{order.itemModel}}
      </h6>
    </div>
    <div class="third-column">
      <div class="third-column-first-row">
        <span> Zakupiona ilość: {{order.amountBought}} szt.</span>
      </div>
      <div class="third-column-second-row">
        <span>Data zakupu: {{order.date | date: 'yyyy-MM-dd HH:mm'}}</span>
      </div>
    </div>
    <div class="fourth-column">
      <div class="fourth-column-first-row">
        <span>Sprzedający {{order.sellerName}}</span>
      </div>
      <div class="fourth-column-second-row">
        <div *ngIf="order.paymentSelected === true">
          Sposób płatności: {{order.orderPaymentType}}
        </div>
        <div *ngIf="order.paymentSelected === false">
          Sposób płatności:
          <button id="finish-process" (click)="paymentContinue(order.id)">Dokończ płatność</button>
        </div>
      </div>
    </div>
    <div class="fifth-column">
      <div>
        Cena: {{order.itemPrice}} zł / szt.
      </div>
      <div *ngIf="order.paymentSelected === true">
        <button (click)="returnProductConfirm(order)" [disabled]="checkOrderReturnDate(order)" pTooltip="Zwrot produktu możliwy do:
          {{order.returnMaxDate | date: 'yyyy-MM-dd HH:mm'}}"><i
          class="fa fa-trash"> </i></button>
      </div>
    </div>
  </div>
</div>

<h5 *ngIf="orders.length === 0" style="text-align: center">
  Brak jakichkolwiek zakupionych produktów
</h5>

<p-confirmDialog acceptLabel="Tak" rejectLabel="Nie" header="Potwierdź zwrot produktu"
                 icon="pi pi-exclamation-triangle"></p-confirmDialog>
