<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Car List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Brand</th>
          <th>Model</th>
          <th>Fuel Type</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users | async">
          <td>{{user.username}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <!-- <td><button (click)="deleteCar(car.id)" class="btn btn-danger">Delete</button>
            <button (click)="carDetails(car.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            <button (click)="carUpdate(car.id)" class="btn btn-outline-info" style="margin-left: 10px">Update</button>
          </td> -->
        </tr>
        </tbody>
      </table>
    </div>
  </div>