.app-component{
  min-width:100%;
  height:100vh;
  color:black;
}

.left-menu {
background-color:#4cd2db;
width:20%;
height:100%;
position:relative;
display:inline-block;
border-right:5px solid #41ccd6;
}

.top-menu {
  background-color: #4cd2db;
  border-bottom: 5px solid #41ccd6;
  font-size:1.25em;
}

.right-side-content {
  width:80%;
  height:95%;
  margin:auto;
  float:right;
}

.input-search {
  border-radius:10px;
  border:none;
    height:80%;
    width:450px;
    margin-right:10px;
    padding:5px;
}

a:link,a{
  color:white;
  padding:15px;
}

a:hover{
  color:rgb(243, 235, 235);
}

.submit-button {
    background-color: #2fb2bb;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius:5px;
    height:50%;
}

.submit-button:hover {
  background-color: #339ca3;
}

li {
  height:10%;
  margin:auto
}

.app-logo{
  text-align:center;
  height:100px;
  margin-top:1%;
  width:100%;
}
.app-logo:hover{
  cursor: pointer;
}

img{
  max-width: 100%;
  max-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width:80%;
  text-align: center;
  color: black;
  margin-bottom:1%;
}

.footer-menu {
  position: absolute;
  bottom: 0;
  margin-left:10%;
  margin-right:10%;
  text-align: center;
  color: black;
  margin-bottom:2%;
}

.item-categories {
  margin-top: 20px;
}

.main-container{
  height:82%;
}
