<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <div class="navbar-nav" style="text-align:center;width:45%;margin:auto">
    <div >
      <button routerLink=""  routerLinkActive="active"><i class="fas fa-home">Strona Główna</i></button>
    </div>
    <div >
      <button routerLink="sign-in-user"  routerLinkActive="active"><i class="fas fa-sign-in-alt">Zaloguj się</i></button>
    </div>
  </div>
</nav>
<div class="container">
  <hr>
  <div>
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer" >
  <div class="container">
    @2021
  </div>
</footer>