<!-- banner bg main start -->
<div class="banner_bg_main">
  <!-- logo section start -->
  <div class="logo_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="logo"><a routerLink="" routerLinkActive="active"><img src="../assets/images/logo.png"></a></div>
        </div>
      </div>
    </div>
  </div>
  <!-- logo section end -->
  <!-- header section start -->
  <div class="header_section">
    <div class="container">
      <div class="containt_main">
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
          <div *ngFor="let itemCategory of itemCategories">
            <a routerLink="" routerLinkActive="active" (click)="displayItemsFromCategory(itemCategory.id)"> {{itemCategory.name}} </a>
          </div>
        </div>
        <span class="toggle_icon" (click)="openNav()" *ngIf="navClosed"><img src="../assets/images/toggle-icon.png"></span>
        <div class="main">
          <!-- Another variation with a button -->
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Szukaj produktów" [(ngModel)]="searchQuery"
                   (keydown.enter)="searchItem()">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button" style="background-color: #f26522; border-color:#f26522 "
                      (click)="searchItem()">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="header_box">
          <div class="login_menu">
            <ul>
              <li *ngIf="isCartEmpty === true"><a routerLink="cart" routerLinkActive="active">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span class="padding_10">Koszyk</span></a>
              </li>
              <li *ngIf="isCartEmpty === false"><a routerLink="cart" routerLinkActive="active">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                <span class="padding_10">Koszyk</span></a>
              </li>
              <li *ngIf="isUserLogged !== true"><a routerLink="sign-in-user" routerLinkActive="active">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="padding_10">Zaloguj się</span></a>
              </li>
              <li *ngIf="isUserLogged === true"><a routerLink="profile" routerLinkActive="active">
                <i class="fa fa-id-badge" aria-hidden="true"></i>
                <span class="padding_10">Profil</span></a>
              </li>
              <li *ngIf="isUserLogged === true"><a routerLink="" routerLinkActive="active" (click)="logOut()">
                <i class="fa fa-power-off" aria-hidden="true"></i>
                <span class="padding_10">Wyloguj się</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- header section end -->
  <!-- banner section start -->
  <div class="banner_section layout_padding">
    <div class="container">
      <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="banner_taital">"Wszystko w sieci" <br>stworzony specjalnie dla Ciebie!</h1>
              </div>
            </div>
      </div>
    </div>
  </div>
  <!-- banner section end -->
</div>
<!-- banner bg main end -->
<div>
  <div class="router_section">
    <p-toast class="custom-toast" key="success"></p-toast>
    <p-toast class="toast-error" key="error"></p-toast>
    <p-toast class="toast-error" key="warn"></p-toast>
    <router-outlet></router-outlet>
  </div>
</div>
<!-- copyright section start -->
<div class="footer_section">
    <p class="footer_text">2022 Pala Mateusz</p>
</div>
