<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Links -->
  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav"  style="text-align: center">
      <li class="nav-item" >
        <a class="nav-link" routerLink=""  routerLinkActive="active"><i class="fa fa-home">Strona Główna</i></a>
      </li>
        <form class="form-inline my-2 my-lg-0">
          <input class="search-input mr-sm-2" type="search" placeholder="Czego szukasz?" aria-label="Search">
          <button class="submit-button" type="submit">Wyszukaj</button>
        </form>
      <li class="nav-item">
        <a class="nav-link" routerLink="sign-in-user"  routerLinkActive="active"><i class="fa fa-home">Zaloguj się</i></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <hr>
  <div>
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer" >
  <div class="container">
    @2021
  </div>
</footer>