
<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active"> Resetowanie hasła </h2>

    <form>
      <input type="text" class="fadeIn second" name="password" [(ngModel)]="user.password" placeholder="wpisz hasło">
      <input type="text" class="fadeIn second" name="password2" [(ngModel)]="user.password2" placeholder="potwierdź hasło">
      <button (click)="savePassword()" class="fadeIn fourth submit-button" [disabled]="user.password !== user.password2" style="margin-bottom:5%">Zapisz nowe hasło</button>
    </form>

  </div>
</div>
