.top {
text-align:center;
margin:2% 0%;
}
button {
  background-color: #4cd2db;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all .5s;
}
button:hover {
  background-color: #339ca3;
}
.profile-routing{
  height:100%;
}
