button {
  background-color: #4cd2db;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
button:hover {
  background-color: #41ccd6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}


.left-column {
  width: 60%;
  position: relative;
}

.right-column {
  width: 40%;
  margin-top: 60px;
}

.submit-button {
  background-color: #4cd2db;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
