<main class="container">

  <div class="left-column">
    <img data-image="black"
      [src]="item.photoUrl"
      alt="">
  </div>

  <div class="right-column">

    <div class="product-description">
      <span>{{item.brand}}</span>
      <h1>{{item.model}}</h1>
      <p>{{item.description}}</p>
    </div>

    <a class="sellerItems" (click)="showSellerItems()">Wyświetl wszystkie produkty sprzedającego <i>{{item.sellerName}}</i></a>

    <div class="product-price">
      <span>{{item.price}} zł</span>
      <button (click)="buyConfirm()" class="cart-btn" [disabled]="productSold">Kup Teraz</button>
    </div>
    <div *ngIf="productSold" class="sold">Produkt jest już niedostępny</div>
  </div>
</main>

<p-confirmDialog acceptLabel="Tak"
  rejectLabel="Nie" header="Potwierdź zakup" icon="pi pi-exclamation-triangle"></p-confirmDialog>
