.fa {
  font-size:40px;
}
button {
  background-color: #4cd2db;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
button:hover {
  background-color: #41ccd6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}



img{
  width:80%;
  height:100%;
}

.left-column {
  width: 60%;
  position: relative;
}

.right-column {
  width: 40%;
  margin-top: 60px;
}



.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 16px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}


.product-price {
  margin-top: 4%;
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

a:hover, a:active{
  cursor: pointer;
}

.sellerItems,.sellerItems:active{
  color: black;
  text-decoration: none;
}

.sellerItems:hover{
  color:#4cd2db !important;
  text-decoration: underline !important;
}
