.fa {
  font-size:40px;
}
button {
  background-color: #f26522;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
button:hover {
  background-color: #a63a06;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

img {
  width:100%;
  height:auto;
  border-radius: 10px;
}

.left-column {
  max-width: 60%;
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.right-column {
  max-width: 40%;
  margin-top: 60px;
}

.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 16px;
  color: #f26522;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
  text-align: left;
  margin-left: 0;
}


.product-price {
  max-width: 50%;
  margin-top: 4%;
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
}

.product-price input, .product-price span {
  margin-bottom: 2%;
}

.cart-btn {
  display: inline-block;
  background-color: #f26522;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 6px 15px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #a63a06;
}
.cart-btn:disabled {
  background-color: grey;
}

a:hover, a:active{
  cursor: pointer;
}

.sellerItems,.sellerItems:active{
  color: black;
  text-decoration: none;
}

.sellerItems:hover{
  color:#f26522 !important;
  text-decoration: underline !important;
}

.sold {
  color:red;
  font-style: oblique;
}

.items_details_input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

::ng-deep {
  .p-button {
    border: 1px solid #f26522 !important;
    background: #f26522 !important;
  }
  .p-button:enabled:hover {
    border: 1px solid #a63a06 !important;
    background: #a63a06 !important;
  }
}

@media(max-width: 600px) {
  .container {
    display: block;
  }

  .left-column {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .right-column {
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
  }

  .product-price {
    width: 100%;
    max-width: 100%;
  }
}
