<div *ngFor="let order of orders" class="item-wrapper">
  <div class="item_row">
    <div class="first-column">
      <img [src]="getItemMainPhoto(order)">
    </div>
    <div class="second-column">
      <h6 class="product-title">
        {{order.itemBrand}} {{order.itemModel}}
      </h6>
    </div>
    <div class="third-column">
      <div class="third-column-first-row">
        Data sprzedania: {{order.date | date: 'YYYY-MM-dd HH:mm'}}
      </div>
      <div class="third-column-second-row">
        <span> Cena: {{order.itemPrice}} zł</span>
      </div>
    </div>
  </div>
</div>
<div *ngIf="orders.length === 0" style="font-weight:bold;text-align:center;margin-top:1%">
  BRAK PRODUKTÓW SPRZEDANYCH
</div>
