.item_row {
  height: 200px;
  border-bottom: 1px solid #9B5C2E;
}

.fa {
  font-size:40px;
}

img{
  max-height: 100%;
  height:auto;
}

a:hover,a:active, a:focus, a:link, a:visited, a {
  text-decoration: underline;
  text-underline: #9B5C2E;
}
