<div>

  <h1>Wszystko w sieci</h1>
  <div class="container">
    <h6>Aplikacja powstała przede wszystkim jako kluczowy element mojej pracy inżynierskiej.
      Aczkolwiek dzięki możliwości rozwijania tej aplikacji mogłem również rozwijać swoje umiejętności developerskie.
      Aplikacja ta to mała zajawka sklepu internetowego, który ma takie możliwości jak:</h6>
    <ul>
      <li> Podgląd produktów oraz ich kupno</li>
      <li> Zwrot produktów zakupionych do 14 dni</li>
      <li> Wystawianie produktów na sprzedaż po zalogowaniu</li>
      <li> Rejestracja użytkowników + logowanie do aplikacji</li>
      <li> Wyszukiwanie produktów po kategoriach i bezpośrednio w wyszukiwarce</li>
      <li> Dodawanie elementów do koszyka jako użytkownik nie zalogowany i zalogowany</li>
      <li> Resetowanie hasła poprzez wygenerowanie linku aktywacyjnego wysyłanego na adres email użytkownika</li>
      <li> W chwili obecnej aplikacja oferuje jedynie płatność przy odbiorze (docelowo planowana integracja z systemem PayPal)</li>
    </ul>
  </div>
</div>

