@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*

.parent {
  background-color: #27c9d4;
  width:100%;
  padding:10px;
}
.parent:hover {
  background-color:#2fb2bb;
  color:black;
}

.child{
  color:white;
  background-color:#27c9d4;
}
.child:hover{
  background-color:#2fb2bb;
  color:black;
}
