@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*
.ui-datatable .ui-datatable-thead > tr > th {
  background: red;
}

td:hover {
    cursor: pointer;
    background-color:white;
}
