<div>
  <div class="input-data" style="padding-top:1%">
    <label>Użytkownik</label>
    <input type="text" name="username" [(ngModel)]="user.username" [disabled]="user !== null"/>
  </div>
  <div class="input-data">
    <label>Imię</label>
    <input type="text" name="firstName" [(ngModel)]="user.firstName" [disabled]="user !== null"/>
  </div>
  <div class="input-data">
    <label>Nazwisko</label>
    <input type="text" name="lastName" [(ngModel)]="user.lastName" [disabled]="user !== null"/>
  </div>
  <div class="input-data">
    <label>Adres e-mail</label>
    <input type="text" name="email" [(ngModel)]="user.mail" [disabled]="user !== null">
  </div>
  <div class="input-data" *ngIf="changePswdForm !== true">
    <label>Hasło</label>
    <input type="password" name="password" placeholder="ukryte" [disabled]="user !== null"/>
    <button class="submit-button" (click)="newPassword()">Zmień hasło</button>
  </div>
  <div class="input-data" *ngIf="changePswdForm === true">
    <label>Nowe hasło</label>
    <input type="password" name="passwordNew" [(ngModel)]="user.password" placeholder="Nowe hasło"/>
  </div>
  <div class="input-data" *ngIf="changePswdForm === true">
    <label>Potwierdź nowe hasło</label>
    <input type="password" name="passwordNew2" [(ngModel)]="user.password2" placeholder="Potwierdź hasło"/>
  </div>
  <div class="input-data" *ngIf="changePswdForm === true">
    <button class="submit-button" style="margin-bottom:5%" (click)="changePassword()"
            [disabled]="user.password !== user.password2">Zmień hasło
    </button>
  </div>
  <div class="input-data">
    <label>Ulica</label>
    <input type="text" name="street" [(ngModel)]="user.street" [disabled]="user !== null"/>
  </div>
  <div class="input-data">
    <label>Nr domu</label>
    <input type="text" name="streetNumber" [(ngModel)]="user.streetNumber" [disabled]="user !== null"/>
  </div>
  <div class="input-data">
    <label>Miasto</label>
    <input type="text" name="city" [(ngModel)]="user.city" [disabled]="user !== null"/>
  </div>
</div>
